body{
    background: url(../img/bg.png) repeat #fff;
    position: relative;
}

body, html{
    height: 100%;
}

.disTble{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dispTbleCel{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -50%;
}

.fulHtWrap{
    height: 100%;
    position: relative;
}

.fulHtWrap .cnterPiece{
    left: 50%;
    margin-left: -30%;
    position: absolute;
    top: 50%;
    width: 60%;
}

.fbBtn{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-color: #3b579d;
    width: 60%;
    float: right;
    border: 1px solid #3b579d;

}

.fbBtn i{
    margin-right: 3px;
    font-size: 22px;
    vertical-align: sub;
}

.mailBtn .input-group{
    width: 60%;
}

.mailBtn label{
    padding-top: 5px;
    font-size:12px;
}

.mailBtn label input{
    vertical-align: sub;
}

.mailBtn a{
    display: block;
    position: relative;
    left: -12px;
}

.detForms{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}
.detForms input, .detForms label, .detForms textarea, .detForms buttom{
    display: block;
    width: 100%;
}

.detForms h1{
    font-size: 18px;
    font-weight: bold;
}

.detForms label{
    font-size: 12px;
    font-weight: bold;
}

.detForms label span{
    color: #f00;
    display: inline-block;
    padding-left: 2px;
}
.detForms input, .detForms textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 10px;
}

.detForms textarea{
    resize: none;
    height: 200px;
}

.dropDwn{
    width: 60%;
    margin: 0px auto;
}



.dropDwn button{
    width: 100%;
}

.dropDwn button span.caret{
    position: absolute;
    right: 10px;
    top: 15px;
}

.dropDwn .dropdown-menu{
    width: 100%;
    text-align: right;
}

.custSelect{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 34px;
    background: #fff;
    cursor: pointer;
    border-radius: 3px; 
}

.custSelect i{
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 0;
}

.custSelect select{
    width: 104%;
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    padding: 5px;
    z-index: 1;
    background: transparent;
    height: 100%;
}

.fulHtWrap .detForms{
    margin-bottom: 70px;
    margin-top: 90px;
}


.logWrap{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    margin-left: -50%;
}
.error{
    display: block;
    font-size: 10px;
    color: #f00;
}

.req{
    border: 1px solid #f00 !important;
}

.thankuTxt{
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.thankuTxt a{
    font-size: 18px;
    display: block;
}


.thankuTxt a:hover{
    text-decoration: none;
    color: #000;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px 0;
}

body.htAuto{
    height: auto;
}

.signupTxt{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.mntlbar{
    position: relative;
    min-height: 68px;
}
.mntlbar .navbar-header{
    position: relative;
    top: 10px;
}

.logoWrap{
    position: absolute;
    display: block;
    left: 50%;
    top: 10px;
}
.logoWrap img{
    max-width: 30px;
}
